{{ define "footer" }}
<footer>
    <nav>
        <ul>
            <li><a href="/programs" title="programs">Programs</a></li>
            <li><a href="/courses" title="courses">Courses</a></li>
            <li><a href="/schools" title="Colleges and Schools">Colleges & Schools</a></li>
        </ul>
    </nav>



    <ul id="additional-resources" hx-boost="true">
        <li><a href="https://uvu.edu/advising" title="Visit Advising">Advising</a></li>

        <li><a href="mailto:tylerc@uvu.edu" title="Contact Us">Contact Us</a></li>
    </ul>

    <p id="copyright">&copy; Copyright Tyler Christensen</p>
</footer>



<script src="/static/js/global/htmx.min.js"></script>
</body>

</html>
{{ end }}