.table {

    border-collapse: collapse;
    width: 100%;

    tr {
        border: 1px solid #DDD;

        &.success {
            background-color: #0ce137;
        }

        &.failure {
            background-color: #f46548;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-left: 1px solid #DDD;
            border-right: 1px solid #DDD;
        }
    }



}