{{ define "index-page" }}

{{ template "header" "home" }}
<main>
    <h1 class="ml-10">Explore Programs and Courses at [Institution Name]</h1>
    <p class="ml-20">Welcome to the [Institution Name] program catalog. Here, you can explore a wide range of academic
        programs and
        courses designed to help you achieve your educational and career goals.</p>

    <div class="center">
        <a class="button arrow" href="/programs" title="View all programs">Start Exploring Programs</a>

    </div>

</main>
{{ template "footer" . }}
{{ end }}